{% extends 'base.html' %}


{% block title %}Home{% endblock %}


{% block content %}
	<div>		
		{% for i in gs %}
			<div>
				<a href="/home/students/{{ i['student_id'] }}"><h1>Student ID {{ i['student_id'] }}</h1></a>
<!-- 				<div>
					<h3>Name:   {{ i['name'] }}</h3>
					<h3>Age:   {{ i['age'] }}</h3>
					<h3>Email:   {{ i['email'] }}</h3>
					<h3>Gender:   {{ i['gender'] }}</h3>
					<h3>Phone:   {{ i['phone'] }}</h3>
				</div> -->		    
		    </div>
		{% endfor %}
		<h3><a href="/home">Go Back</a></h3>
	</div>
{% endblock %}